/* You can add global styles to this file, and also import other style files */
@import '~font-awesome/css/font-awesome.min.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&family=Space+Mono&display=swap');


*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Space Mono';
    body{
        background-color: #F6F8FF;
    }
    
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
